# Byte-compiled files
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
.venv/
venv/
env/

# Distribution
build/
dist/
*.egg-info/

# Logs
*.log

# Testing / cache
.pytest_cache/
.coverage
htmlcov/

# OS files
.DS_Store

# IDE
.vscode/
.idea/

# Jupyter
.ipynb_checkpoints/